<ion-view view-title="Cadena de Remate">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Cadena de Remate o Dalas</b>
                <hr>
                Ayudan a sostener las losas, repartiéndo el peso a lo largo de los muros, además participan en el sistema encargado de rigidizar toda la estructura.
                Son vigas de concreto armado que se colocan encima de los muros y se amarran a los castillos formando un marco. Al colarse al mismo tiempo que las losas, las cadenas de remate forman parte de ellas.<br><br>

                <img class="full-image" src="img/losas/88s-56-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejCadena()">
                    Ejercicio
                </button>
            </div>
        </div>
          <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/losas/losas1" class="button icon-right ion-chevron-right button-balanced full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>