<ion-view view-title="Losas">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Losas</b>
                <hr>
                Es un elemento constructivo plano que cubre un espacio definido protegiéndolo de los agentes naturales externos. Al tener un espesor uniforme, su peso se distribuye en todos los apoyos que la sostienen (muros, columnas, pilares, vigas).<br>

                <img class="full-image" src="img/losas/91s-57-01.png">

                <br>
                <b>Tipos de losas:</b><br><br>

                <u>• Losa sólida:</u> plataforma de concreto con un armado en su interior compuesto por una parrilla de varillas de un calibre específico según las necesidades de carga. Su espesor va de los 7 a los 15 cm. dependiendo de la distancia existente entre las vigas. Es utilizada para cubrir superficies pequeñas, con claros no mayores a 5 m.<br>

                <img class="full-image" src="img/losas/92s-57-01.png">

                <br>

                <u>• Losa aligerada:</u> estructura de concreto armado que tiene en su interior elementos no estructurales para aminorar su peso sin comprometer por ello su resistencia. Al ser un elemento constructivo relativamente ligero, permite cubrir superficies más grandes que la losa sólida.<br>
                <br>

                <img class="full-image" src="img/losas/94s-57-01.png">

                <u>• Losa mixta:</u> elemento estructural basado en la unión de un sistema prefabricado con uno artesanal. Utiliza la tecnología de elementos realizados en fábrica y comercializados en los negocios materialistas, pero que requieren de una terminación artesanal en obra para completar su proceso. Estos procedimientos constructivos reducen considerablemente su tiempo de ejecución y los eventuales desperdicios, igualmente se reduce el esfuerzo y la habilidad requerida para su correcta construcción.<br>
                <br>

                <img class="full-image" src="img/losas/pag59-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejLosas1()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/losas/cadena" class="button icon-left ion-chevron-left button-balanced full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/losas/vigeta" class="button icon-right ion-chevron-right button-balanced full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>