<ion-view view-title="Acabados">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/acabados">
                <img src="img/muros/subtemas/castillos1.png"/>
                
                    Acabados
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/aplanado_mezcla">
                <img src="img/muros/subtemas/castillos2.png"/>
                
                    Aplanado de Mezcla de Concreto

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/aplanado_yeso">
                <img src="img/muros/subtemas/castillos3.png"/>
                
                    Aplanado de Yeso

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/pintura">
                <img src="img/muros/subtemas/mamposteria1.png"/>
                
                    Pintura

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/pisos">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                
                    Pisos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/piso_concetro">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                
                    Piso de Concreto
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/piso_ceramico">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                
                    Piso Cerámico

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/procedimiento_piso">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                
                    Procedimiento: Piso Cerámico

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
