<ion-view view-title="Acabados">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/acabados">
                <img src="img/acabados/1462851027_tmp_107s-68-01.png"/>
                
                    Acabados
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/aplanado_mezcla">
                <img src="img/acabados/108s-69-012.png"/>
                
                    Aplanado de Mezcla de Concreto

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/aplanado_yeso">
                <img src="img/acabados/109s-70-01.png"/>
                
                    Aplanado de Yeso

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/pintura">
                <img src="img/acabados/111s-71-01.png"/>
                
                    Pintura

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/pisos">
                <img src="img/acabados/112s-72-01.png"/>
                
                    Pisos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/piso_concetro">
                <img src="img/acabados/113s-72-01.png"/>
                
                    Piso de Concreto
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/piso_ceramico">
                <img src="img/acabados/116s-74-01.png"/>
                
                    Piso Cerámico

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/acabados/procedimiento_piso">
                <img src="img/acabados/faltante4s-75-01.png"/>
                
                    Procedimiento: Piso Cerámico

                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
