<ion-view view-title="Albañileria">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/terreno">
                <img src="img/albanileria/subtemas/terreno.png"/>
                    El Terreno
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/car_terreno">
                <img src="img/albanileria/subtemas/carac.png"/>
                
                    Características del Terreno
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/suelo">
                <img src="img/albanileria/subtemas/tipos.png"/>
                
                    Tipos de Suelo
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/Trazo_nivelacion">
                <img src="img/albanileria/subtemas/traznive.png"/>
                
                    Trazo y Nivelación
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/procedimientos2">
                <img src="img/albanileria/subtemas/procedimientos.png"/>
                
                    Procedimientos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/planos">
                <img src="img/albanileria/subtemas/planos.png"/>
                
                    Planos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/nota_trazo">
                <img src="img/albanileria/subtemas/nota.png"/>
                
                    Nota para trazo de lineas perpendiculares
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/albanileria/nivelacion">
                <img src="img/albanileria/subtemas/nivelacion.png"/>
                    Nivelación
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
