<ion-view view-title="Albañileria">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/terreno">
                <img src="img/albanileria/subtemas/terreno.png"/>
                <h2>
                    El Terreno
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/car_terreno">
                <img src="img/albanileria/subtemas/carac.png"/>
                <h2>
                    Características del Terreno
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/suelo">
                <img src="img/albanileria/subtemas/tipos.png"/>
                <h2>
                    Tipos de Suelo
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/Trazo_nivelacion">
                <img src="img/albanileria/subtemas/traznive.png"/>
                <h2>
                    Trazo y Nivelación
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/procedimientos2">
                <img src="img/albanileria/subtemas/procedimientos.png"/>
                <h2>
                    Procedimientos
                </h2>
            </a>
              <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/planos">
                <img src="img/albanileria/subtemas/planos.png"/>
                <h2>
                    Planos
                </h2>
                  <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/nota_trazo">
                <img src="img/albanileria/subtemas/nota.png"/>
                <h2>
                    Nota para trazo de lineas perpendiculares
                </h2>
            </a>
              <a class="item item-thumbnail-left" href="#/app/capitulos/albanileria/nivelacion">
                <img src="img/albanileria/subtemas/nivelacion.png"/>
                <h2>
                    Nivelación
                </h2>
            </a>
            </a>
        </div>
    </ion-content>
</ion-view>
