<ion-view view-title="Cerramietos y Vanos">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/capitulos/cerramientos/cerramientos1">
                <img src="img/cerramientos/subtemas/cerramientos1.png"/>
                <h2>
                    Cerramientos y Vanos I
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/cerramientos/cerramientos2">
                <img src="img/cerramientos/subtemas/cerramientos2.png"/>
                <h2>
                    Cerramientos y Vanos II
                </h2>
            </a>
        </div>
    </ion-content>
</ion-view>
