<ion-view view-title="Cerramietos y Vanos">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/cerramientos/cerramientos1">
                <img src="img/cerramientos/subtemas/cerramientos1.png"/>
                    Cerramientos y Vanos I
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/cerramientos/cerramientos2">
                <img src="img/cerramientos/subtemas/cerramientos2.png"/>
                    Cerramientos y Vanos II
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
