<ion-view view-title="Introducción">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left"href="#/app/capitulos/1/1">
                <img src="imag/ahorros.png"/>
                <h2>
                    Sooo
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="imag/terreno2.jpg"/>
                <h2>
                    Terreno
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="imag/calido.png"/>
                <h2>
                    Clima
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="imag/truck.png"/>
                <h2>
                    Materiales
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
        </div>
        <!--
            <div class="tabs below-bar">
                <a class="tab-item">
                    Diseño
                </a>
                <a class="tab-item">
                    Sostenibilidad
                </a>
                <a class="tab-item">
                    Terreno
                </a>
                <a class="tab-item">
                    Clima
                </a>
                <a class="tab-item">
                    Materiales
                </a>
            </div>
        -->
    </ion-content>
</ion-view>
