<ion-view view-title="Cimentación">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left"href="#/app/capitulos/cimentacion/cimfir">
                <img src="img/Cimentaciones/pag34-il1-01.png"/>
                <h2>
                    Cimentaciones y Firmes
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/cimentacion/firme1">
                <img src="img/Cimentaciones/subtemas/pag45libro2-01.png"/>
                <h2>
                    Firme I
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/cimentacion/firme2">
                <img src="img/Cimentaciones/76-s46-01.png"/>
                <h2>
                    Firme II
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
