<ion-view view-title="Cimentación">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/cimentacion/cimfir">
                <img src="img/Cimentaciones/pag34-il1-01.png"/>
                
                    Cimentaciones y Firmes
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/cimentacion/firme1">
                <img src="img/Cimentaciones/subtemas/pag45libro2-01.png"/>
                
                    Firme I
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/cimentacion/firme2">
                <img src="img/Cimentaciones/76-s46-01.png"/>
                
                    Firme II
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
