<ion-view view-title="Ecotecnias">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/ecotecnias1">
                <img src="img/ecotecnias/pag120.png"/>
                    Ecotecnias
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/lluvia">
                <img src="img/ecotecnias/161S-112-01.png"/>
                    Recolección de Agua de Lluvia
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/lavabo">
                <img src="img//ecotecnias/162S-113-01.png"/>
                    Reutilización de Agua de Lavabo
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/electrica">
                <img src="img/ecotecnias/163S-113-01.png"/>
                    Ahorro de Energía Eléctrica 
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                                    <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/otro">
                <img src="img/ecotecnias/165s-114-01.png"/>
                    otro
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                         <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/termico">
                <img src="img/ecotecnias/168s-115-01.png"/>
                    Aislamiento Térmico 
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                                    <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/ecotecnias/cruzada">
                <img src="img/ecotecnias/174s-116-01.png"/>
                    Ventilación Cruzada 
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
