<ion-view view-title="Instalaciones Eléctricas">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/elecygas">
                <img src="img/electricas/subtemas/elecygas.png"/>
                
                    Instalaciones Eléctricas y de Gas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/circuitos">
                <img src="img/electricas/subtemas/circuitos.png"/>
                
                    Circuitos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/centrodecarga">
                <img src="img/electricas/subtemas/centrodecarga.png"/>
                
                    Centro de Carga
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/elemelectronicos">
                <img src="img/electricas/subtemas/elemelectronicos.png"/>
                
                    Elementos Electrónicos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/luminarias">
                <img src="img/electricas/subtemas/luminarias.png"/>
                
                    Luminarias y Contactos
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/electricas/gaslp">
                <img src="img/electricas/subtemas/gaslp.png"/>
                
                    Instalaciones de Gas LP
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
