<ion-view view-title="Instalaciones hidrosanitarias">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_san">
                <img src="img/sanitarias/nine.png"/>
                    Instalaciones Sanitarias
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_hi_san">
                <img src="img/sanitarias/two.png"/>
                    Instalaciones Hidro-sanitarias
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_hidro">
                <img src="img/sanitarias/four.png"/>
                    Instalación Sanitaria
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_hidrau">
                <img src="img/sanitarias/three.png"/>
                    Instalaciones Hidráulicas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
