<ion-view view-title="Instalaciones hidrosanitarias">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_san">
                <img src="img/cerramientos/subtemas/cerramientos1.png"/>
                    Instalaciones Sanitarias
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_hi_san">
                <img src="img/cerramientos/subtemas/cerramientos2.png"/>
                    Instalaciones Hidro-sanitarias
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_sanitaria">
                <img src="img/cerramientos/subtemas/cerramientos2.png"/>
                    Instalación Sanitaria
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
                        <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/hidrosanitarias/inst_hidrau">
                <img src="img/cerramientos/subtemas/cerramientos2.png"/>
                    Instalaciones Hidráulicas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
