<ion-view view-title="Introducción">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/introduccion/presentacion">
                <img src="img/introduccion/subtemas/1-23-04.png"/>
                    Presentación y alcances
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/sostenibilidad">
                <img src="img/introduccion/subtemas/28S-16-01.png"/>
                    Conceptos Básicos de Sostenibilidad
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/introduccion/diseno">
                <img src="img/introduccion/subtemas/1-23-10.png"/>
                    Criterios de Diseño
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/introduccion/terreno">
                <img src="img/introduccion/subtemas/pag7-01.png"/>
                    Características del Terreno
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/vivienda">
                <img src="img/introduccion/subtemas/145s-95-01.png"/>
                    Evolución de la Vivienda
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/clima">
                <img src="img/introduccion/subtemas/1-23-14.png"/>
                    Condiciones Climáticas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/procesos">
                <img src="img/introduccion/subtemas/30s-18-01.png"/>
                    Procesos de Construcción Sostenible
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/concreto">
                <img src="img/introduccion/subtemas/sacoscemento-01.png"/>
                    Uso del Concreto
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/agregados">
                <img src="img/introduccion/subtemas/33S-21-01.png"/>
                    Agregados
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/mezcla">
                <img src="img/introduccion/subtemas/41s-23-01.png"/>
                    Mezclas de Cemento
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/armados">
                <img src="img/introduccion/subtemas/39s-25-01.png"/>
                    Armados
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left"href="#/app/capitulos/introduccion/procedimientos">
                <img src="img/introduccion/subtemas/pag24-ilnueva-01.png"/>
                    Procedimientos Previos al Armado
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
