<ion-view view-title="Intro">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/presentacion">
                <img src="img/ahorros.png"/>
                <h2>
                    Presentación y alcances
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/sostenibilidad">
                <img src="img/ahorros.png"/>
                <h2>
                    Conceptos Básicos de Sosenibilidad
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/introduccion/diseno">
                <img src="img/ahorros.png"/>
                <h2>
                    Criterios de Diseño
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/introduccion/terreno">
                <img src="img/ahorros.png"/>
                <h2>
                    Características del Terreno
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/vivienda">
                <img src="img/ahorros.png"/>
                <h2>
                    Evolución de la Vivienda
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/clima">
                <img src="img/ahorros.png"/>
                <h2>
                    Condiciones Climáticas
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/procesos">
                <img src="img/ahorros.png"/>
                <h2>
                    Procesos de Construcción Sostenible
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/concreto">
                <img src="img/ahorros.png"/>
                <h2>
                    Uso del Concreto
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/agregados">
                <img src="img/ahorros.png"/>
                <h2>
                    Agregados
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/mezcla">
                <img src="img/ahorros.png"/>
                <h2>
                    Mezclas de Cemento
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/armados">
                <img src="img/ahorros.png"/>
                <h2>
                    Armados
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
