<ion-view view-title="Introducción">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/capitulos/introduccion/presentacion">
                <img src="img/introduccion/subtemas/1-23-04.png"/>
                <h2>
                    Presentación y alcances
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/sostenibilidad">
                <img src="img/introduccion/subtemas/28S-16-01.png"/>
                <h2>
                    Conceptos Básicos de Sostenibilidad
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/introduccion/diseno">
                <img src="img/introduccion/subtemas/1-23-10.png"/>
                <h2>
                    Criterios de Diseño
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/introduccion/terreno">
                <img src="img/introduccion/subtemas/pag7-01.png"/>
                <h2>
                    Características del Terreno
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/vivienda">
                <img src="img/introduccion/subtemas/145s-95-01.png"/>
                <h2>
                    Evolución de la Vivienda
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/clima">
                <img src="img/introduccion/subtemas/1-23-14.png"/>
                <h2>
                    Condiciones Climáticas
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/procesos">
                <img src="img/introduccion/subtemas/30s-18-01.png"/>
                <h2>
                    Procesos de Construcción Sostenible
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/concreto">
                <img src="img/introduccion/subtemas/sacoscemento-01.png"/>
                <h2>
                    Uso del Concreto
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/agregados">
                <img src="img/introduccion/subtemas/33S-21-01.png"/>
                <h2>
                    Agregados
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/mezcla">
                <img src="img/introduccion/subtemas/41s-23-01.png"/>
                <h2>
                    Mezclas de Cemento
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/armados">
                <img src="img/introduccion/subtemas/39s-25-01.png"/>
                <h2>
                    Armados
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left"href="#/app/capitulos/introduccion/procedimientos">
                <img src="img/introduccion/subtemas/pag24-ilnueva-01.png"/>
                <h2>
                    Procedimientos Previos al Armado
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
