<ion-view view-title="Losas">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/losas/cadena">
                <img src="img/losas/subtemas/cadena.png"/>
                    Cadena de Remate o Dalas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/losas/losas1">
                <img src="img/losas/subtemas/losas.png"/>
                    Losas
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/losas/vigeta">
                <img src="img/losas/subtemas/vigeta.png"/>
                    Losa de Vigeta y Bovedilla
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
