<ion-view view-title="Losas">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/capitulos/losas/castillos1">
                <img src="img/losas/subtemas/cadena.png"/>
                <h2>
                    Cadena de Remate o Dalas
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/losas/castillos2">
                <img src="img/losas/subtemas/losas.png"/>
                <h2>
                    Losas
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/losas/castillos3">
                <img src="img/losas/subtemas/vigeta.png"/>
                <h2>
                    Losa de Vigeta y Bovedilla
                </h2>
                <p>
                    Lorem Ipsum Dolor
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
