<ion-view view-title="Muros">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/capitulos/muros/castillos1">
                <img src="img/muros/subtemas/castillos1.png"/>
                <h2>
                    Castillos I
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/muros/castillos2">
                <img src="img/muros/subtemas/castillos2.png"/>
                <h2>
                    Castillos II
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/muros/castillos3">
                <img src="img/muros/subtemas/castillos3.png"/>
                <h2>
                    Castillos III
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/muros/mamposteria1">
                <img src="img/muros/subtemas/mamposteria1.png"/>
                <h2>
                    Mampostería I
                </h2>
            </a>
            <a class="item item-thumbnail-left" href="#/app/capitulos/muros/mamposteria2">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                <h2>
                    Mampostería II
                </h2>
            </a>
        </div>
    </ion-content>
</ion-view>
