<ion-view view-title="Muros">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/muros/castillos1">
                <img src="img/muros/subtemas/castillos1.png"/>
                
                    Castillos I
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/muros/castillos2">
                <img src="img/muros/subtemas/castillos2.png"/>
                
                    Castillos II
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/muros/castillos3">
                <img src="img/muros/subtemas/castillos3.png"/>
                
                    Castillos III
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/muros/mamposteria1">
                <img src="img/muros/subtemas/mamposteria1.png"/>
                
                    Mampostería I
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
            <a class="item item-icon-right item-thumbnail-left" href="#/app/capitulos/muros/mamposteria2">
                <img src="img/muros/subtemas/mamposteria2.png"/>
                
                    Mampostería II
                <i class="green-text icon ion-checkmark-circled"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
