<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjCircuitos()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>Si se quiere instalar un circuito en la  cocina, ¿cuál sería el más adecuado?</b>
                    <hr>
                    <b>A.</b> Circuito Individual<br>
                    <b>B.</b> Circuito Derivado<br>

                    <br>

                    <div class="button-bar">
                      <button ng-click="checkEjCircuitos(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="checkEjCircuitos(false)" class="button button-energized" type="button">B</button>                
                    </div>
                    
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
