<ion-view view-title="Castillos III">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Castillos</b>
                <hr>
                Una vez armados y cimbrados los castillos, se procederá a colarlos utilizando la mezcla indicada.<br><br>

                <b>La dosificación de los materiales para la mezcla es:</b><br>
                • 1 bulto de Cemento CEMEX Compuesto 30R<br>
                • 7 1⁄2 botes de grava<br>
                • 5 1⁄4 botes de arena No. 4<br>
                • 1 3⁄4 botes de agua<br>
                <br>
                Considerando botes de 19 litros como medida y bultos de 50 kg.<br>
                <br>
                <b>Para colar los castillos se sigue el siguiente proceso:</b> <br>
                Desde la parte superior del castillo se comienza a vaciar la mezcla de concreto y, ayudados de una varilla, se empuja hacia abajo para hacer que llegue hasta la base y llene todo el espacio interior de la cimbra y se espera el tiempo necesario para que el concreto fragüe y así poder retirarla.<br>
                <br>

                <img class="full-image" src="img/muros/78s-47-01.png">


                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/castillos2" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/mamposteria1" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>