<ion-view view-title="Castillos II">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Castillos</b>
                <hr>
                Para armar los castillos se utilizan 4 varillas de 3/8 de pulgadas.  Las varillas se unen entre sí por medio de estribos cuadrados de 12 cm. en cada uno de sus lados y se colocan a cada 20 cm. de distancia entre sí. Para su amarre en las cuatro esquinas se utiliza alambre recocido. El armado de los castillos se ancla al contracimiento doblando sus varillas en la parte inferior como patas de unos 20 cm. de longitud, utilizando el alambre recocido. La cimbra de los castillos se fabrica con madera de pino de segunda o tercera calidad, incluso con madera de reúso, que mida al menos 10 cm. de ancho.<br>
                <br>

                <img class="full-image" src="img/muros/78s-47-01.png">

                <b>NOTA: Tanto en castillos, contracimientos y cadena de remate es posible sustituir el armado
                realizado en obra por uno prefabricado.</b><br>

                <br><br>
            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/castillos1" class="button icon-left ion-chevron-left button-balanced full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/castillos3" class="button icon-right ion-chevron-right button-balanced full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>