<ion-view view-title="Mampostería I">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Mampostería</b>
                <hr>
                Son elementos verticales utilizados como frontera con el exterior, como división de espacios interiores o, en el caso de ser cargadores, como elementos de distribución de las cargas de la cubierta hacia las cimentaciones.<br>
                <br>
                <b>Herramienta necesaria:</b><br>
                • Hilo<br>
                • Plomada<br>
                • Pala<br>
                • Martillo<br>
                • Clavos<br>
                • Cuchara<br>
                • Cincel<br>
                • Esmeriladora<br>
                <br>

                <b>Material requerido:</b>
                • Cemento Mortero CEMEX <br>
                • Arena No. 5<br>
                • Grava<br>
                • Agua<br>
                • Block hueco de concreto<br>

                <img class="full-image" src="img/muros/79s-50-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejMamposteria()">
                    Ejercicio
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/castillos3" class="button icon-left ion-chevron-left button-balanced full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/muros/mamposteria2" class="button icon-right ion-chevron-right button-balanced full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>