<ion-view view-title="Acabados">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>APLANADOS EN MUROS</b>
                <hr>
                <br>
                El aplanado, es la terminación que se le da a los muros con fines estéticos y también como protección de la intemperie evitando posibles filtraciones de agua.

                <img class="full-image" src="img/acabados/107s-68-01.png">

                <br>
                <b>Dos tipos distintos:</b><br>

                • Aplanado de mezcla de concreto; para exterior e interior<br>
                • Aplanado de yeso; para interior<br><br>

                <b>Herramienta necesaria:</b><br>

                • Cuchara<br>
• Regla de madera<br>
• Llana de madera<br>
• Charola para preparar la mezcla<br>
• Plomada<br>
• Talocha de madera para aplicación de yeso <br>
• Cuchara de yesero<br>
• Bote de 19 litros<br><br>

                <b>Material requerido:</b><br>

• Cemento Mortero CEMEX<br>
• Arena cribada<br>
• Yeso<br>
• Agua<br><br>

                <button class="button button-full button-balanced" ng-click="ejLosas1()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/aplanado_mezcla" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>