<ion-view view-title="Nota para trazo">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Nota para trazo de lineas perpendiculares</b>
                <hr>
                Para verificar el trazo de dos líneas perpendiculares en tramos grandes, es recomendable recurrir al método del 3,4,5, que consiste en:<br>
                <br>

                <img class="full-image" src="img/albanileria/52s-32-01.png">

                1. Tener una cuerda o hilo de 12 m. exactos de longitud.<br>
                2. Hacer 2 marcas en la cuerda, una a los 3 m. y otra a los 4 m., y se unirán las puntas.<br>
                3. Ubicar el vértice que se encuentra entre los dos lados más cortos del triángulo (3 y 4) al final de una de las líneas que se quiera verificar.<br>
                4. Extender los tramos de la cuerda sobre las líneas en cuestión. Si son líneas perpendiculares los extremos del tramo de 5 m. coincidirán con las líneas en cuestión perfectamente.<br>
                <br>
                Igualmente para verificar que un rectángulo está perfectamente trazado se puede utilizar el método de las diagonales:<br>
                <br>

                <img class="full-image" src="img/albanileria/53s-32-01.png">

                1. Tender un hilo de una esquina a su opuesta formando una diagonal, marcando en él la distancia que resulte.<br>
                2. Utilizando el mismo hilo y las marcas realizadas como referencia, ubicarlo en las dos esquinas opuestas.<br>

            </div>
        </div>
                 <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/planos" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/nivelacion" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>