<ion-view view-title="Planos">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Planos</b>
                <hr>
                Un punto indispensable para el trazo es tener un proyecto de casa completo, es decir, un plano de la casa en el que estén incluidos todos los espacios con los que se contará una vez terminada. Las líneas que se trazan sobre el terreno se conocen en los planos constructivos como ejes, ellos ayudan a definir las dimensiones y las formas de los espacios. <br>
                <br>

                <b>Plano con ejes</b><br>

                <img class="full-image" src="img/albanileria/pag31 il1-01.png">


                <b>Plano con ejes y muros</b><br>

                <img class="full-image" src="img/albanileria/pag31 il2-01.png">

                <b>Planta arquitectonica</b><br>


                <img class="full-image" src="img/albanileria/49s-31-01.png">


            </div>
        </div>
                 <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/procedimientos2" class="button icon-left ion-chevron-left button-balanced full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/nota_trazo" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>