<ion-view view-title="Procedimientos">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Procedimientos</b>
                <hr>
                <b>Limpieza</b><br>
                Asegurarse que se encuentre libre de basura, escombro, hierbas y matorrales. En el caso de existir hierbas habrá que sacarlas desde su raíz con la intención de evitar su futuro crecimiento.<br>
                <br>

                <img class="full-image" src="img/albanileria/limpieza.png">

                <b>Trazo</b><br>
                Antes de comenzar a trazar es necesario conocer los límites de la propiedad. Es posible encontrar construcciones vecinas que sirvan de referencia para delimitar el terreno o si no, se tomará como referencia la línea de la banqueta y de ahí comenzará el trazo del terreno.<br>
                <br>

                <img class="full-image" src="img/albanileria/trazo.png">

                <b>Para realizar esta tarea es necesario:</b><br>
                1. Clavar en una de las esquinas de la referencia una estaca de madera y ubicar ahí mismo una escuadra.<br>
                2. Anudar un hilo en la estaca y, guiándose con la escuadra, tenderlo sobrepasando por un metro aproximadamente el límite de propiedad, colocando al final otra estaca.<br>
                3. Para continuar con el resto de los lados se usará primeramente la cinta métrica y obtener un dimensionamiento exacto. (hasta abajo el vídeo)<br>
                <br>
            </div>
        </div>
                 <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/Trazo_nivelacion" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/albanileria/planos" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>