<ion-view view-title="Firme II">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Firme II</b>
                <hr>
                Para comenzar se debe nivelar el terreno donde se colocará la mezcla, se tendrá que hacer uso de tierra, hasta llegar al nivel inferior del firme. Una vez terminada la compactación, se colocará sobre él la malla electrosoldada cubriendo la totalidad de la superficie a colar. <br><br>

                    <img class="full-image" src="img/Cimentaciones/76-s46-01.png">


                    Fuera del área de trabajo se realizará la mezcla correspondiente.<br>
                    • 1 bulto de Cemento CEMEX Compuesto 30R <br>
                    • 8 botes de grava<br>
                    • 6 botes de arena<br>
                    • 2 botes de agua<br>
                    <br><br>

                    La mezcla empezará a vaciarse comenzando por las esquinas, para después extenderse a toda la superficie ayudados por una pala. Poco a poco se llenará la superficie de mezcla y con una cuchara de albañil se enazará, tomando como guía el nivel superior del contracimiento en los extremos y el de los ladrillos en el interior. Para asegurar el nivel del firme, se pasará una regla de madera o metálica sobre el colado tomando como referencia el nivel superior del contracimiento. Una vez hecho el colado es muy importante dejar fraguar el concreto por lo menos tres días sin pisarlo, además será necesario curarlo regándolo tres veces al día durante los siguientes cinco días posteriores al colado.<br>

                  <img class="full-image" src="img/Cimentaciones/firme.jpeg">

                <button class="button button-full button-balanced" ng-click="ejFirme()">
                    Ejercicio
                </button>

            </div>
        </div>
          <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/cimentacion/firme1" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Menú</a>
            </div>
        </div>
    </ion-content>
</ion-view>