/* Empty. Add your own CSS if you like */
.bar.bar-stable {
	background-color: #3f51b5;
}

.bar.bar-stable .title {
	color: #fff;
}

.bar-stable .button.button-clear {
	color: #fff;
}

.card-box {
	padding: 5px;
}

.card-box h2 {
	margin: 5px;
}

.below-bar {
	top: 0;
}

.gray-background {
	background-color: #EEEEEE;
}

.padded {
	padding: 30px;
}