<ion-view view-title="Clima">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Condiciones climáticas</b>
                <hr>
                Es importante considerar el clima en el que se construirá la casa, ya que esto determinará un diseño más favorable y amigable con el ambiente.<br><br>



                <img class="full-image" src="img/introduccion/1-23-14.png">

                <b>Cálido-húmedo</b><br>
                Preferible contar con techos inclinados para ayudar a que corra el agua de la lluvia, al igual que grandes ventanas para que el viento circule dentro de la casa.

                <img class="full-image" src="img/introduccion/1-23-16.png">

                <b>Cálido-seco</b><br> 
                Recomendable tener paredes muy gruesas, los techos deben ser más altos y de preferencia contar con pretiles que le den un poco de sombra al techo. También tener ventanas pequeñas y muy bien orientadas.<br><br>

                  <img class="full-image" src="img/introduccion/1-23-17.png">

                <b>Templado</b><br>
                Deseable que se cuente con paredes gruesas para conservar el calor dentro de la casa. La existencia y tamaño de las ventanas estarán determinados por la orientación.<br><br>

                <button class="button button-full button-balanced" ng-click="ejClima()">
                    Ejercicio
                </button>
            </div>
        </div>
                <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/vivienda" class="button icon-left ion-chevron-left button-assertive full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/procesos" class="button icon-right ion-chevron-right button-assertive full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>