<ion-view view-title="Uso del Concreto">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Uso del Concreto</b>
                <hr>
                <b>Cemento:</b> mezcla de arcilla y caliza, cocida a muy altas temperaturas y molida finamente. Se obtiene un polvo que, mezclado con agua, llega a endurecerse y solidifcarse. Para mayor rendimiento, se mezcla con grava y arena llegando a mejores comportamientos estructurales.
                <br><br>

                <b>CEMENTO PORTLAND COMPUESTO 30R</b><br>
                <a href="#/app/capitulos/introduccion/concreto/saco1"><img class="full-image saco-imagen" src="img/introduccion/saco1.png"></a>
                <br>

                <b>CEMENTO PORTLAND COMPUESTO 30RB</b>
                <a href="#/app/capitulos/introduccion/concreto/saco2"><img class="full-image saco-imagen" src="img/introduccion/saco2.png"></a>
                <br>

                <b>CEMENTO MORTERO</b>
                <a href="#/app/capitulos/introduccion/concreto/saco3"><img class="full-image saco-imagen" src="img/introduccion/saco3.png"></a>
                <br>

                <b>CEMENTO IMPERCEM</b>
                <a href="#/app/capitulos/introduccion/concreto/saco4"><img class="full-image saco-imagen" src="img/introduccion/saco4.png"></a>
                <br>

                <b>CEMENTO MULTIPLAST</b>
                <a href="#/app/capitulos/introduccion/concreto/saco5"><img class="full-image saco-imagen" src="img/introduccion/saco5.png"></a>
                <br>
            </div>
        </div>
                <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/procesos" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/agregados" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>