<ion-view view-title="Diseño">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Criterios de diseño</b>
                <hr>
                La casa es el espacio donde la familia desarrolla sus actividades diarias, antes de construirla tomemos en cuenta criterios como:<br>
                El tamaño de los muebles,
                que los espacios estén provistos de al menos una ventana hacia el exterior para asegurar su ventilación y tener un espacio distribuido.<br><br>


                <img class="full-image" src="img/introduccion/dist.png">
                <br>

                Además, es preferible orientar los espacios sociales de la casa (como la sala, el comedor o la misma cocina) hacia la calle y que los espacios con instalaciones hidráulicas y sanitarias, como la cocina, la lavandería y los baños, se encuentren cercanos unos de otros, incluso, de ser posible, compartan los mismos muros.<br><br>

                <button class="button button-full button-balanced" ng-click="ejercicio()">
                    Ejercicio
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/sostenibilidad" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/terreno" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>