<ion-view view-title="Sostenibilidad">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                El término sostenibilidad se refiere al equilibrio entre una especie y los recursos del entorno al cual pertenece. El desarrollo
                sostenible trata de satisfacer las necesidades y las esperanzas del presente, sin comprometer los recursos
                y las posibilidades de las futuras generaciones <br><br> Una casa de bajo impacto ambiental
                ayuda a cuidar nuestro planeta, a nuestros hijos, y a nuestro bolsillo; pues aunque implica una inversión
                inicial más alta, a la larga ayuda a ahorrar mucho en el consumo de luz, agua, gas, leña, etc., además
                de respetar y cuidar los recursos de nuestro entorno.
                <img class="full-image" src="img/introduccion/28S-16-01.png"> Algunos conceptos a tomar en cuenta: <br> • Es
                muy importante que, tanto en el proceso constructivo como en el mismo funcionamiento de la casa una vez terminada,
                cuidademos que el consumo de los recursos no renovables.<br><br> • Para utilizar el dinero de manera eficiente,
                es necesario primeramente planear el proyecto completo. La planeación prevé la elección de los materiales,
                tratando de evitar con ello desperdicios y gastos innecesarios.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/presentacion" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/introduccion/diseno" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>

</ion-view>