<ion-view view-title="Aplanado de Mezcla de Concreto">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Aplanado de Mezcla de Concreto</b>
                <hr>
                El aplanado de mezcla de concreto son los recubrimientos que se aplican en los muros. Su objetivo es proteger al muro de la lluvia dándole una mejor apariencia. Normalmente tienen 1 cm. de espesor y están hechos a partir de un mortero realizado con las siguientes proporciones:<br><br>


                • 1 bulto de Cemento Mortero CEMEX<br>
• 10 botes de arena 5 sin cribar<br>


                <img class="full-image" src="img/acabados/108s-69-01
2.png">

                Todos los aplanados se realizan en 2 etapas; la primera se le llama repellado o zarpeo y es un aplanado de apariencia rústica que se aplica arrojando la mezcla al muro con la cuchara; la segunda etapa, llamada propiamente aplanado o afine, se hace cuando se busca un acabado más elaborado y liso.<br>
                <br>


            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/acabados" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/aplanado_yeso" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>