<ion-view view-title="Aplanado de Yeso">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Aplanado de Yeso</b>
                <hr>
                Para una mejor apariencia al interior de la casa se recomienda un aplanado de yeso (de entre 1 y 1.5 cm. de espesor). <br><br>
                La pasta se hace mezclando:<br>
                • 1 bulto de yeso (40 kg.)<br>
                  • 2 kg. de cemento CEMEX <br>
                • 30 litros de agua
                <img class="full-image" src="img/acabados/109s-70-01.png">
 La mezcla debe hacerse dentro de un recipiente grande, batirse muy bien durante un tiempo y, por último, dejarla reposar poco antes de la aplicación.
<br><br>


                Primero sería colocar unas reglas maestras a cada 1.50 m. que sirvan de referencia para el espesor del aplanado. Después, con la cuchara de yesero, se coloca la mezcla sobre la talocha y se embarra en el muro de abajo hacia arriba. Con la cuchara, se afina pasando la llana metálica hasta lograr una superficie lisa. En las esquinas se perfila o se emboquilla con la espátula. Al igual que con el aplanado de concreto es muy importante verificar con la plomada y la regla que la superficie quede regular.
                                <img class="full-image" src="img/acabados/faltante5s-70-01.png">

                              
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/aplanado_mezcla" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/pintura" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>