<ion-view view-title="Pintura">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Pintura</b>
                <hr>
                Brinda un aspecto terminado a la casa. Es importante elegir tipo y color de la pintura según las necesidades del espacio.

                <img class="full-image" src="img/acabados/111s-71-01.png">


               Algo de suma importancia antes de comenzar, es limpiar la superficie de polvo, suciedad o material suelto existente, obteniendo así una base firme para recibir la pintura. A las superficies de yeso nuevo debe aplicarse primero un sellador antes de la aplicación de la primera capa de pintura.<br><br>

                En la primera mano de pintura la brocha o rodillo debe correr suavemente sobre la superficie, será necesario agregar no más de un 10% de agua del volumen total de la pintura. La segunda mano puede aplicarse a las tres o cuatro horas de haber finalizado la primera, o que esta haya secado, utilizando la pintura sin diluir.<br>

            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/aplanado_yeso" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/pisos" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>