<ion-view view-title="Pisos">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>ACABADOS EN PISOS</b>
                <hr>
                
                Son propiamente las terminaciones que a este elemento se le dan. Dos tipos distintos:<br>
                • Piso de concreto<br>
                • Piso cerámico<br><br>
                                <img class="full-image" src="img/acabados/112s-72-01.png">
                El tipo de acabado dependerá del gusto y presupuesto de los que se disponga.<br><br>
                <b>Herramienta necesaria:</b><br>
                • Cuchara<br>
                • Regla de madera <br>
• Llana metálica<br>
• Cuchara de yesero <br>
• Pala<br>
• Nivel de burbuja<br>
• Criba<br>
• Bote de 19 litros<br><br>
                <b>Material requerido:</b><br>
• Cemento Mortero CEMEX <br>
• Arena cernida<br>
• Agua<br>
• Cemento Blanco<br>
• Junta o Boquilla<br>
• Adhesivo para azulejos<br>
                
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/pintura" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/piso_concetro" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>