<ion-view view-title="Piso Cerámico">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Piso Cerámico</b>
                <hr>
                El mercado ofrece una gran oferta en pisos cerámicos, variando en medidas, diseño y precio; la constante, sin embargo es el espesor de las piezas de aproximadamente 1.5 cm. El espesor de la mezcla sobre la que se colocan las piezas puede variar entre los 3 y 6 mm. 

                <img class="full-image" src="img/acabados/115s-74-01.png">

               
                Hay dos maneras de pegar los mosaicos, una es utilizando la mezcla del mortero:<br>
                • 1 bulto de Cemento Mortero CEMEX<br>
• 2 botes de arena.<br><br>                                                                             

                Otra es un adhesivo especial siguiendo las indicaciones de preparación de la mezcla que cada marca provee.<br><br>

               Antes de comenzar la instalación, el piso debe estar perfectamente limpio y nivelado. Igualmente es necesario mojar el firme y las piezas de mosaico para que no absorban el agua de la mezcla a utilizar. Los cortes pueden hacerse con una cortadora o bien con un pulidor que tenga un disco indicado para el tipo de material que va a cortar. El mosaico debe empezar a colocarse en una esquina para que esta sirva de guía de instalación para el resto del piso.

                <img class="full-image" src="img/acabados/116s-74-01.png">

                
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/piso_concetro" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabdos/procedimiento_piso" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>