<ion-view view-title="Piso de Concreto">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Piso de Concreto</b>
                <hr>
                <br>
                Para la realización de un piso de concreto debemos utilizar la mezcla:<br>
                • 1 bulto de Cemento Mortero CEMEX<br>
• 6 botes de arena.<br>

                    El piso de concreto está constituido por una capa de 3 cm. de espesor realizada con la mezcla.
                                    <img class="full-image" src="img/acabados/113s-72-01.png">


                    Para lograr un nivel uniforme es necesario colocar maestras (pequeñas piezas de madera o de cualquier otro material) que tengan el mismo espesor que el piso vaya a tener. Antes de vaciar es necesario primero humedecer el firme limpiándolo muy bien. Es importante revisar continuamente el nivel del piso apoyándose en reglas, suficientemente largas, que lleguen de una maestra a otra.<br><br>
                    La terminación final se hace con la llana metálica por medio de movimientos circulares obteniendo con ello una superficie tersa y uniforme.<br><br>
                    Una vez que se ha terminado el fraguado inicial, unas horas después del vaciado, y habiendo el concreto adquirido cierta consistencia, se procederá a espolvorear cemento sobre la superficie del piso recién terminado. Este cemento debe mantenerse húmedo durante 8 días, tendrá que estarse continuamente humedeciendo, evitando con ello posibles agrietamientos en el piso durante el proceso de secado del concreto.<br>
                <button class="button button-full button-balanced" ng-click="ejConcretos()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/pisos" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/piso_ceramico" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>