<ion-view view-title="Procedimiento Piso Cerámico">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Para pegar el piso se debe:</b>
                <hr>
               • Aplicar una capa del adhesivo con un espesor aproximado de 3 mm. utilizando para ello la parte lisa de una llana cubriendo sólo la superficie que se pueda trabajar a corto plazo.<br><br>

                • Hacer un rayado horizontal en una sola dirección sobre el adhesivo recién aplicado.
                <img class="full-image" src="img/acabados/faltante4s-75-01.png">

                <b>Tipos de losas:</b><br><br>
• Colocar las piezas procurando moverlas en sentido perpendicular al rayado del adhesivo y golpearlas levemente con el mango de la llana para asegurar su contacto con el adhesivo. Es muy importante en este punto verificar una a una la nivelación de las piezas con un nivel de burbuja. Las piezas deben sentarse hasta lograr un área de contacto del 85% mínimo.
<br><br>
Es necesario tomar en cuenta que el espesor del adhesivo no sea mayor de 6 milímetros, pues ello puede provocar que el piso quede hueco y eventualmente se despeguen las piezas. Al final, una vez seca la instalación del piso, hay que emboquillar o juntear el piso, para esto hay que esperar al menos 48 horas después de haber terminado de colocar el piso cerámico. La boquilla puede hacerse con una lechada de cemento blanco o una boquilla comercial. <br><br>

    <img class="full-image" src="img/acabados/output_ktlung (1).gif">
               
            </div>
        </div>
        <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/acabados/piso_ceramico" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Terminar</a>
            </div>
        </div>
    </ion-content>
</ion-view>