<ion-view view-title="Pretiles">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Pretiles</b>
                <hr>
                Una vez terminado el proceso completo de la construcción de la losa será necesario sellarla para evitar eventuales filtraciones del agua de lluvia y posible deterioro de la estructura.<br>
                <br>

                <img class="full-image" src="img/azoteas/102s-65-01.png">

                Cuando la losa tiene una inclinación (incluso por más pequeña que sea) el agua de la lluvia escurrirá sin ningún problema hacia el lado más bajo de la losa. Por eso es importante que cuando se construya la losa se considere la dirección y el punto por donde bajará el agua, pues una mala ubicación podría traer problemas para el funcionamiento de la casa.<br>
                <br>

                <img class="full-image" src="img/azoteas/101s-64-01.png">
<Br>
                En el caso de tener una losa horizontal será necesario dirigir la caída del agua de lluvia hacia algún punto específico, creando algunas inclinaciones en la parte superior de la losa.<br>
                <br>Una vez decidido el punto, será necesario elevar el nivel de los muros por encima de la losa formando así un perímetro elevado que evitará pérdidas de agua de lluvia por escurrimientos en puntos no deseados. <br> Estos elementos llamados pretiles se construyen continuando los muros (unos 30 a 40 cm.) por encima del nivel superior de la losa, utilizando los mismos materiales y la misma tecnología previamente utilizada para la construcción de los muros.<br><br>
                
                <img class="full-image" src="img/azoteas/105s-67-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejPretiles()">
                    Ejercicio
                </button>
            </div>
        </div>
        <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/azoteas/terminacion" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>