<ion-view view-title="Terminación de Azoteas">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Terminación de Azoteas</b>
                <hr>
                Para la salida del agua de lluvia será necesario un tubo de PVC de 10 cm. (4 pulgadas) de diámetro que puede bajar uniéndose a otro tubo más que la lleve hasta el suelo, o en el mejor de los casos llevarla, igualmente por medio de tubos de PVC, a un contenedor de agua de lluvia para su posterior uso doméstico.<br>
                <br>

                <img class="full-image" src="img/azoteas/176s-66-01.png">

                Para finalizar es muy importante proteger la losa con un impermeabilizante que impida que el agua de lluvia penetre por sus poros. Es importante que antes de elegir el producto que se usará para impermeabilizar la losa se tome en cuenta, además de su costo, su durabilidad, su mantenimiento y también el impacto ecológico que puede tener tanto en su instalación como en su producción.<br>
                <br>El proceso de colocación del impermeabilizante dependerá del producto, la marca y tecnología que se escoja, es por esto recomendable asesorarse con un experto en el producto seleccionado.<br>
                <br>

                <img class="full-image" src="img/azoteas/103s-66-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejTerminacion()">
                    Nota Verde
                </button>
            </div>
        </div>
        <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/azoteas/petriles" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Terminar</a>
            </div>
        </div>
    </ion-content>
</ion-view>