<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjFirme()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿Cuántas veces se tiene que regar el colado por día y por cuantos días seguidos?</b>
                    <hr>

                    <b>A.</b> Regar 3 veces por 5 días.<br>
                    <b>B.</b> Regar 3 veces por 3 días.<br>
                    <b>C.</b> Regar 4 veces por 3 días<br>

                    <br>
                    <div class="button-bar">
                      <button ng-click="checkEjFirme(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="checkEjFirme(false)" class="button button-energized" type="button">B</button>
                      <button ng-click="checkEjFirme(false)" class="button button-energized" type="button">C</button>  
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
