<ion-view view-title="Cerramientos y Vanos I">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Cerramientos y Vanos</b>
                <hr>
                Son vigas de concreto armado que se colocan encima de los vanos de puertas y ventanas. Su función es la de asegurar la estabilidad del muro.<br>
                <br>

                <img class="full-image" src="img/cerramientos/85s-54-01.png">

                <b>Herramienta necesaria:</b><br>
                • Hilo<br>
                • Plomada<br>
                • Pala<br>
                • Martillo<br>
                • Clavos<br>
                • Cuchara<br>
                • Bote de 19 litros<br> 
                • Serrucho<br>
                • Gancho<br>
                <br>
                <b>Material requerido:</b><br>
                • Cemento CEMEX Compuesto 30R <br>
                • Arena No. 4<br>
                • Grava<br>
                • Agua<br>
                • Varillas de 3/8 de pulgada o castillos prefabricados <br>
                • Estribos de alambrón<br>
                • Alambre recocido<br>
                • Madera<br>
                <br>
                <b>Para el colado de los cerramientos, se utiliza la dosificación siguiente:</b>
                <br>
                • 1 bulto de Cemento CEMEX Compuesto 30R<br>
                • 7 1⁄2 botes de grava<br>
                • 5 1⁄4 botes de arena No. 4<br>
                • 1 3⁄4 botes de agua<br>
                <br>
                El proceso del colado se comienza a vaciando con un bote la mezcla dentro del molde y con la ayuda de una varilla se pica para lograr que la mezcla baje y llegue a todas las partes de la cimbra.
                <br>
                <img class="full-image" src="img/cerramientos/88s-56-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejCerramientos1()">
                    Ejercicio
                </button>
            </div>
        </div>
          <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/cerramientos/cerramientos2" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>