<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjercicio()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    ¿Cuál de las siguientes imágenes corresponde a una distribución correcta de la casa? 
                    <hr>
                    <img class="full-image padded" src="img/introduccion/bien.png"/>
                    <img class="full-image padded" src="img/introduccion/mal.png"/>
                    
                    <div class="button-bar">
                      <button ng-click="doCheck(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="doCheck(false)" class="button button-energized" type="button">B</button>                  
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
