<ion-modal-view>
  <ion-header-bar>
  </ion-header-bar>

  <ion-content class="gray-background">
    <div class="card">
        <label class="item item-input">
            <span class="input-label">Debes registrarte o iniciar sesión antes de ver el contenido</span>
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-click="login()">Iniciar Sesión</button>
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-click="registration()">Registrarse</button>
        </label>
    </div>

  </ion-content>
</ion-modal-view>
