<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Iniciar Sesión</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content class="gray-background">
    <form ng-submit="doLogin()">
      <div class="list card">

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="loginData.email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="loginData.password">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Entrar</button>
        </label>
      </div>
    </form>

    <div class="card">
      <div class="item item-text-wrap">
        <b ng-bind="loginResponse"></b>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
