<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjCeramico()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>Para la realización de un piso ceramico, ¿Cuantos botes de arena necesitas por cada bulto de Cemento Mortero CEMEX?</b>
                    <hr>
                    <b>A.</b> 2 <br>
                    <b>B.</b> 3<br>
                    <b>C.</b> 4 <br>
                    <b>D.</b> 5 <br>
                    <br>
                    <div class="button-bar">
                      <button ng-click="CheckEjCeramico(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="CheckEjCeramico(true)" class="button button-energized" type="button">B</button>
                      <button ng-click="CheckEjCeramico(false)" class="button button-energized" type="button">C</button>
                      <button ng-click="CheckEjCeramico(false)" class="button button-energized" type="button">D</button>                        
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
