<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjCeramico()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿Cuál de estos pisos esta listo para comenzar la instalación?</b>
                    <hr>
                    <b>A.</b> Cemento Mortero <br>
                    <b>B.</b> Cemento Multiplast<br>
                    <b>C.</b> Cemento Portland Compuesto 30RD <br>
                    <b>C.</b> Cemento Portland Compuesto 30RB  <br>
                    <br>
                    <div class="button-bar">
                      <button ng-click="CheckEjCeramico(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="CheckEjCeramico(true)" class="button button-energized" type="button">B</button>
                      <button ng-click="CheckEjCeramico(false)" class="button button-energized" type="button">C</button>
                      <button ng-click="CheckEjCeramico(false)" class="button button-energized" type="button">C</button>                        
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
