<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjConcreto()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿De cuántos cm de espesor debe ser la capa del piso de concreto? </b>
                    <hr>
                    <b>A.</b> 3cm <br>
                    <b>B.</b> 4cm <br>
                    <b>C.</b> 3.5cm <br>
                    <b>D.</b> 2cm <br>
                    <br>
                    <div class="button-bar">
                      <button ng-click="CheckEjConcreto(true)" class="button button-energized" type="button">A</button>
                      <button ng-click="CheckEjConcreto(false)" class="button button-energized" type="button">B</button>
                      <button ng-click="CheckEjConcreto(false)" class="button button-energized" type="button">C</button>
                      <button ng-click="CheckEjConcreto(false)" class="button button-energized" type="button">D</button>
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
