<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjYeso()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿Qué tipo de aplanado se utiliza para el interior de la casa?</b>
                    <hr>
                    <b>A.</b> Aplanado de Concreto <br>
                    <b>B.</b> Aplanado de yeso <br>
                    <b>C.</b> Aplanado de Asfalto <br>
                    <br>
                    <div class="button-bar">
                      <button ng-click="CheckEjYeso(false)" class="button button-energized" type="button">A</button>
                      <button ng-click="CheckEjYeso(true)" class="button button-energized" type="button">B</button>
                      <button ng-click="CheckEjYeso(false)" class="button button-energized" type="button">C</button>
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
