<ion-view view-title="Ventilación Cruzada">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Ventilación Cruzada</b>
                <hr>
               Un elemento vital para lograr un verdadero confort en el interior de la casa es la ventilación. Las ventanas tendrán que encontrarse en fachadas distintas y de preferencia en lados opuestos para asegurar el flujo continuo de aire.<br><br>
                               <img class="full-image" src="img/ecotecnias/172s-116-01.png">

               Incluso es posible ayudar al flujo de viento ubicando ventanas de mayor tamaño en las entradas de viento y ventanas más pequeñas en el lado contrario, con esto se asegurará una corriente de aire en el interior de la casa.<br><br>
               Otro aspecto importante, es la extracción del aire caliente que se concentra en la parte superior de la casa, cercano a la azotea. Esto se puede lograr ubicando la ventana de salida del viento lo más alta y cercana posible a la azotea, de tal manera que el viento fresco que entre empuje el aire caliente acumulado hacia la parte superior. 

                <img class="full-image" src="img/ecotecnias/174s-116-01.png">
                <a ng-click="noBack()" nav-transition="none" href="https://docs.google.com/forms/d/1zshZF0w5L6VjTMaAGq5O0AUk7OQvonvqVNUIDBWqpcY/viewform" class="button ion-chevron-left button-energized full-width">Encuesta</a>

            </div>
        </div>
         <div class="row">
    
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/termico" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Menú</a>
            </div>
        </div>
    </ion-content>
</ion-view>