<ion-view view-title="Ahorro de Energía Eléctrica ">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Ahorro de Energía Eléctrica </b>
                <hr>
Un punto importante en la operación de una casa sostenible es el gasto energético que esta pueda tener, además de ayudar a reducir el costo del servicio mensual, ayuda a reducir la necesidad de generar más energía y así a reducir el impacto ambiental que dicha producción genera.
                <img class="full-image" src="img/ecotecnias/163S-113-01.png">
El tener la casa bien ventilada en las temporadas cálidas y cerrada en las temporadas frías, reduce el uso de ventiladores y calefactores; la correcta ubicación y dimensionamiento de las ventanas ayuda a iluminar correctamente los espacios, reduciendo el uso de la iluminación artificial en horas de sol; el uso de focos ahorradores también reduce el consumo de electricidad de una manera considerable al igual que tener desconectados los aparatos eléctricos mientras no estén en uso. 

            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/lavabo" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/otro" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>