<ion-view view-title="Reutilización de Agua de Lavabo">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Reutilización de Agua de Lavabo</b>
                <hr> El agua que corre por las tuberías del drenaje sanitario es en general agua perdida. Para rescatarla, son
                necesarios sistemas complejos que pueden llegar a ser costosos.<br>                <img class="full-image" src="img/ecotecnias/162S-113-01.png">

                 Sin embargo, es posible dentro de la misma casa, haciendo algunos ajustes en los aparatos que utilicen el agua haciendo más eficiente su uso.
                <br><br>Un ejemplo es la cubeta en la regadera colocada bajo el chorro mientras se espera a que salga agua caliente.
                También esta la opción de reutilizar el agua del lavabo del baño, no para beberse, sino para participar en
                el llenado del tanque del inodoro.<br> 
                Por medio de una tubería simple y silicón es posible hacer que el
                agua usada en el lavabo salga por la tubería ubicada en la parte inferior, para hacerla llegar al tanque
                del inodoro. De esta manera se ahorraría el agua limpia que normalmente llena el tanque.

            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/lluvia" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/electrica" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>