<ion-view view-title="Recolección de Agua de Lluvia">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Recolección de Agua de Lluvia</b>
                <hr> El agua de lluvia es un recurso valioso que normalmente es desperdiciado en las casas.El recolectarla tiene
                enormes beneficios no sólo para la economía familiar, pues también reduce el consumo de agua corriente en la ciudad.<br> 
                Para recolectarla, no se necesita tecnología muy avanzada, unos botes podrían ser suficientes. Sin embargo el contar con un sistema hará la recolección más eficiente.<br> 
                <br><br>El sistema de recolección de agua de lluvia está basado en una tubería y un contenedor. Es importante que la superficie que vaya a juntar el agua, es decir, la azotea de la
                casa, tenga las pendientes necesarias para dirigir el agua a un punto específico.


                <img class="full-image" src="img/ecotecnias/170s-142-01.png">
En el punto donde confluyan las pendientes de la losa estará ubicada una tubería (de PVC de preferencia de 10 a 15 cm.) que conducirá el agua a un contenedor ubicado cercano al punto de caída del agua. Es conveniente ubicar en la entrada de la tubería alguna malla mosquitera fina o coladera que funcione como filtro, garantizando que el agua baje sin hojas u otros objetos que pudieran perjudicar su limpieza.<br>
                <img class="full-image" src="img/ecotecnias/161S-112-01.png">

 El agua almacenada no será potable, pero podrá ser utilizada en labores de limpieza doméstica o en el riego de jardines. Es importante que el contenedor se encuentre elevado a unos 50 cm. con respecto del suelo, pues esto facilitará la extracción del agua de su interior por medio de una llave simple de mariposa. 

                
               

            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/ecotecnias1" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/lavabo" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>