<ion-view view-title="Otro">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Otro</b>
                <hr>
              Los aparatos como ventiladores o de aire acondicionado, calentadores eléctricos, o de gas, consumen una gran cantidad de energía eléctrica y son la causa de recibos de electricidad muy altos. Sin embargo, con acciones sencillas, es posible reducir su uso sin comprometer la confortabilidad del espacio interior.<br><br>
              Uno de los puntos importantes, es la orientación de los espacios interiores de la casa. Una acción indispensable para crear un ambiente agradable es aumentar la capacidad de aislamiento de los muros que la delimitan, es decir, complementarlos con otros materiales que ayuden a evitar el paso de las temperaturas extremas al interior. <br><br>
              Esto puede lograrse de distintas maneras, dependerá directamente de los recursos con los que se cuente, principalmente los materiales existentes en la región. 
              
                <img class="full-image" src="img/ecotecnias/copy.png">

            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/electrica" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/termico" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>