<ion-view view-title="Aislamiento Térmico 2">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Aislamiento Térmico 2</b>
                <hr>
"Algunas opciones para aislar los muros son:<br>
• Rellenar los huecos de los blocks de concreto con tierra inerte (es decir, que no cuente con plantas o semillas que pudieran generar problemas en el futuro), esto elevaría al densidad del muro aumentando su capacidad térmica.
                <img class="full-image" src="img/ecotecnias/164s-115-01.png">

• Uso de morteros especiales que ayudan a mejorar la capacidad térmica de los muros. Puede haberlos hechos con base en una mezcla de cemento y cal (25%), o para aumentar su desempeño se pueden hacer mezclando cemento, cal, arcilla y paja, obteniendo una apariencia rústica atractiva.
                <img class="full-image" src="img/ecotecnias/166s-115-01.png">

• Uso de morteros ya preparados que se pueden encontrar en el mercado, con una función similar pero hechos a partir de materiales industrializados.
                <img class="full-image" src="img/ecotecnias/168s-115-01.png">

Otro punto que puede ayudar es el uso de cualquier medio que provoque sombra directamente a los muros, especialmente a las ventanas. Los recursos para este medio pueden ser:<br>
• El uso de una vegetación cercana o adherida a los muros.<br>
• El uso de elementos en voladizo.<br>
• El uso de pretiles que provoque sombra sobre la azotea (aquí es importante hacer notar que la azotea es el elemento constructivo de la casa más expuesto a la radiación solar por mas tiempo, por lo cual cualquier acción destinada a provocar sombra sobre ella será de gran ayuda)."<br>
                <img class="full-image" src="img/ecotecnias/169s-115-01.png">


            </div>
        </div>
          <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/otro" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/ecotecnias/cruzada" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>