<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjVigeta()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿Cuál es una de las ventajas que otorga la losa de vigeta y bovedilla?</b>
                    <hr>
                    <b>A.</b> Ahorro de material.<br>
                    <b>B.</b> Uso mínimo de cimbra.<br>
                    <b>C.</b> Facilidad y reducción de tiempo.<br>
                    <b>D.</b> Todas las anteriores.<br>
                    <br>
                    <div class="button-bar">
                      <button ng-click="checkEjVigeta(false)" class="button button-energized" type="button">A</button>
                      <button ng-click="checkEjVigeta(false)" class="button button-energized" type="button">B</button>
                      <button ng-click="checkEjVigeta(false)" class="button button-energized" type="button">C</button>
                      <button ng-click="checkEjVigeta(true)" class="button button-energized" type="button">D</button>                        
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
