<ion-view view-title="Centro de Carga">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Centro de Carga</b>
                <hr>
                Es el punto en el cual se concentran todas las cargas parciales (o circuitos), es decir donde una carga será la suma de todas las cargas parciales, un interruptor.<br>
                <nr>
                Es muy importante que el Centro de Carga se ubique en un lugar accesible y protegido de la lluvia.
                Es lo más recomendable, instalar el medidor y el interruptor juntos, pero si no es posible la máxima distancia permitida entre ellos es
                de 5 m.<br>
                <br>

                <img class="full-image" src="img/electricas/179s-89-01.png">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/circuitos" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/elemelectronicos" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>