<ion-view view-title="Elementos Electrónicos">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Elementos Electrónicos</b>
                <hr>
                <b>Cajas metálicas:</b><br>
                Las cajas metálicas sirven para alojar apagadores, contactos y botones de timbre. También son utilizadas para instalar luminarias, ventiladores y otros dispositivos. Se clasifican en tres grupos:<br>
                • Cajas para apagadores<br>
                • Cajas rectangulares<br>
                • Cajas octagonales y/o cuadradas<br>
                <br>

                <img class="full-image" src="img/electricas/140s-89-01.png">
                <img class="full-image" src="img/electricas/142s-89-01.png">

                Deben fijarse sobre la superficie donde se vayan a instalar o bien, también es posible empotrarlas en el muro, asegurándose la correcta colocación que garantice la seguridad de la instalación.<br>
                <br>
                <b>Tapa o cubierta:</b><br>
                Todas las cajas que se coloquen deben tener una tapa o cubierta que proteja las instalaciones eléctricas. En el mercado se pueden encontrar distintas tapas.<br>
                <br>

                <img class="full-image" src="img/electricas/141s-89-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejElemelectronicos()">
                    Ejercicio
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/centrodecarga" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/luminarias" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>