<ion-view view-title="Gas LP">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Instalaciones de Gas LP</b>
                <hr>
                El Gas Licuado de Petróleo es un combustible de alto poder calorífico. No deja residuos o cenizas, pero también puede resultar muy peligroso si no se instala y utiliza con las debidas precauciones.<br>
                <br>

                <b>Las tuberías de gas LP pueden ser:</b><br>
                • Galvanizada cédula 40<br>
                • De cobre flexible<br>
                • De cobre rígido tipo L<br> 
                • De cobre rígido tipo K<br>
                • Tubería de polietileno<br>
                <br>

                <img class="full-image" src="img/electricas/143s-93-01.png">

                El tanque de gas debe elegirse según la capacidad deseada y el espacio disponible para su correcta y segura instalación. La mejor ubicación es un espacio exterior.<br>
                <br>

                <img class="full-image" src="img/electricas/pag98 il2-01.png">

                La instalación debe ser lo más sencilla posible, es decir recta y en tramos cortos. Es muy importante que al momento de ubicar los espacios de la casa se tomen en cuenta aquellos que requerirán la instalación de gas como la cocina o el patio donde se ubicarán el calentador del agua y el tanque de gas.<br>
                <br>

                <img class="full-image" src="img/electricas/pag98 il3-01.png">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/luminarias" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Terminar</a>
            </div>
        </div>
    </ion-content>
</ion-view>