<ion-view view-title="Luminarias y Contactos">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Luminarias y Contactos</b>
                <hr>
                <b>Luminarias:</b> Iluminan los espacios requiriendo de electricidad para su funcionamiento. Pueden ser colocadas en techos, muros o incluso pisos, en el interior o el exterior de una casa. Según la tecnología en la que están fabricadas pueden ser de halógeno, de LED, incandescentes, fluorescentes o ahorradoras.<br>
                <br>

                <img class="full-image" src="img/electricas/133s-90-01.png">

                <b>Contactos:</b> Son salidas eléctricas a las que se enchufan los aparatos que requieran electricidad. Normalmente se colocan a entre 30 y 50 cm. a partir del nivel de piso terminado.<br>
                Las cocinas deben tener contactos bien ubicados y distribuidos para poder utilizar cómodamente los electrodomésticos.<br>
                En los baños se deben considerar contactos cerca del lavabo, ya que se requiere para el uso de secadoras de cabello o rasuradoras. Tomar en cuenta sólo que debe haber una separación mínima de 90 cm. entre regadera y salidas de agua con respecto a los contactos.<br>
                <br>

                <img class="full-image" src="img/electricas/pag95-01.png">

                <br><br>

                <button class="button button-full button-balanced" ng-click="ejLuminarias()">
                    Nota Verde
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/elemelectronicos" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/electricas/gaslp" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>