<ion-view view-title="Instalaciones Hidráulicas">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Instalaciones Hidráulicas</b>
                <hr>
                                <img class="full-image" src="img/sanitarias/126s-84-01.png">

                <br>
                Es la red compuesta por tubería, codos, conexiones, llaves, tinaco y válvulas de control que controla la distribución del agua en una casa. <Br><br>Las tuberías de agua pueden ser de:<Br>

                • Fierro galvanizado<Br>
• Cobre, siendo mejor por su durabilidad y su facilidad de reparación, pero también la más cara.<br>
• PVC hidráulico (Policloruro de vinilo) o<br>
• CPVC hidráulico (Policloruro de vinilo clorado)<br><br>
                <img class="full-image" src="img/sanitarias/125s-83-01.png">
Como se explicaba anteriormente, en las instalaciones sanitarias es
conveniente que los aparatos que requieren de agua para su funcionamiento, así como cualquier otra toma de agua, estén ubicadas lo más cerca posible, de tal manera que se pueda crear un sistema eficiente y que además baje los costos de construcción. <br> La tubería de agua deberá recorrer el camino más corto posible para subir al tinaco, llegar al calentador de agua y surtir a todos los aparatos y llaves dentro y fuera de la casa.<BR><bR>
En el caso de existir un tinaco, deberá colocarse en la parte superior de la casa y el calentador de agua debe colocarse en la parte exterior de la casa, en un lugar abierto para evitar posibles accidentes.
                        <img class="full-image" src="img/sanitarias/110s-78-01.png">

Las tuberías de agua se ubicarán en los interiores de los muros y las salidas a los aparatos serán distintas para cada uno.

                <button class="button button-full button-balanced" ng-click="ejInsta()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_hidro" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="backMain()" nav-transition="none" class="button button-energized full-width">Terminar</a>
            </div>
        </div>
    </ion-content>
</ion-view>