<ion-view view-title="Instalación Sanitaria">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Instalación Sanitaria</b>
                <hr>
                <br>
               La primera actividad de las instalaciones hidro-sanitarias se realiza al principio de la construcción de la casa, es el trazo y la colocación de la tubería de drenaje antes del colado del firme.<br><br>
               Se identifica la ubicación exacta de la conexión domiciliaria, que es el tubo al que se va a conectar el drenaje de la casa que lo unirá al colector del drenaje sanitario de la ciudad. La tubería del drenaje tendrá que partir entonces de esta conexión y llegar a cada uno de los aparatos que lo requieran. Es conveniente que la tubería de drenaje se encuentre fuera de los espacios interiores de la casa; ya que en el caso de realizar alguna reparación, se pueda hacer sin molestar los espacios importantes.

                <img class="full-image" src="img/sanitarias/120s-78-01.png">

    

                <button class="button button-full button-balanced" ng-click="ejLosas1()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
           <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_hi_san" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_hidrau" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>