<ion-view view-title="Instalaciones Sanitarias">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Instalaciones Sanitarias</b>
                <hr>
                <br>
                "Son el conjunto de tuberías, conexiones, trampas hidráulicas en general y coladeras, necesario para la evacuación y ventilación de las aguas de drenaje y pluviales de una edificación.

                <img class="full-image" src="img/sanitarias/118s-77-01.png">

             

                <button class="button button-full button-balanced" ng-click="ejLosas1()">
                    Ejercicio
                </button>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_hi_san" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>