<ion-view view-title="Instalaciones Hidro-sanitarias">
    <ion-content class="gray-background">
        <div class="card">
            <div class="item item-text-wrap">
                <b>Instalaciones Hidro-sanitarias</b>
                <hr>
                <br>
                Las Instalaciones Hidro-sanitarias son las encargadas no sólo de hacer llegar el agua al interior de la casa, y con esto a todos los aparatos que la requieran, sino también de sacar las aguas de desecho para llevarlas a sistemas más grandes y complejos. <Br>El diseño del sistema completo de la instalación hidro-sanitaria requiere el conocimiento y la experiencia de un experto.<br><br>
                                <img class="full-image" src="img/sanitarias/110s-78-01.png">
<br><br>
                Primeramente es necesario contar con un proyecto en el que estén considerados todos los espacios que por su función requieran este tipo de instalaciones. <br>Dichos espacios deben incluir lavabos, inodoros, regaderas, fregaderos, lavaderos, calentadores de agua, lavadoras, vertederos, etc. <br><br> En el proyecto tienen que especificarse no sólo los aparatos, sino también debe estar indicado el trazo de las tuberías de agua y las de drenaje. <br>Esto ayudará a tener ahorros muy considerables en este rubro, además de asegurar el correcto funcionamiento del sistema hidráulico y sanitario. <br>
                

        

                <button class="button button-full button-balanced" ng-click="ejHisan()">
                    Ejercicio
                </button>
            </div>
        </div>
                 <div class="row">
           <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_san" class="button icon-left ion-chevron-left button-energized full-width">Anterior</a>
            </div>
            <div class="col">
                <a ng-click="noBack()" nav-transition="none" href="#/app/capitulos/hidrosanitarias/inst_hidro" class="button icon-right ion-chevron-right button-energized full-width">Siguiente</a>
            </div>
        </div>
    </ion-content>
</ion-view>