<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            Ejercicio
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEjInsta()">
                Cerrar
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="gray-background">
        <form name="ejercicio-diseno" >
            <div class="card">
                <div class="item item-text-wrap">
                    <b>¿Cuál es el material de tuberías más recomendado? </b>
                    <hr>
                    <b>A.</b> Fierro galvanizado <br>
                    <b>B.</b> Cobre  <br>
                    <b>C.</b> PVC hidráuico <br>
                     <b>C.</b> CPVC hidráulico<br>

                    <br>
                    <div class="button-bar">
                      <button ng-click="CheckEjInsta(false)" class="button button-energized" type="button">A</button>
                      <button ng-click="CheckEjInsta(true)" class="button button-energized" type="button">B</button>
                      <button ng-click="CheckEjInsta(false)" class="button button-energized" type="button">C</button>
                      <button ng-click="CheckEjInsta(false)" class="button button-energized" type="button">D</button>

                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
